*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: white;
  --surface: white;
  --border: #1e2530;
  --border-hi: #2d3a4a;
  --green: #00808b;
  --green-dim: #90ee90;
  --amber: #ffb340;
  --red: #ff4e6a;
  --blue: #4ea8ff;
  --muted: #4a5568;
  --text: black;
  --text-dim: grey;
  --mono: "IBM Plex Mono", monospace;
  --sans: "IBM Plex Sans", sans-serif;
  --radius: 3px;
  --shadow-dark: rgba(0, 0, 0, 0.854);
  --shadow-heavy: rgba(0, 0, 0, 0.618);
  --shadow-mid: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(0, 0, 0, 0.1);
  --hover-shadow-light: inset 0 0 0 9999px var(--shadow-light);
  --hover-shadow-mid: inset 0 0 0 9999px var(--shadow-mid);
}

html,
body,
#root {
  height: 100%;
  background: var(--bg);
  color: var(--text);
  font-family: var(--mono);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border-hi);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--muted);
}
